@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Playfair+Display:400,700,900&display=swap");
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}

body {
  background-color: #2b0c7d;
  background-image: linear-gradient(0deg, #2b0c7d 0%, #2b0c92 100%);
  font-family: "Open Sans", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header, main, footer {
  padding: 4vmax 4vmax;
  color: #fff;
  font-family: roboto;
}
@media screen and (min-width: 556px) {
  header, main, footer {
    padding: 4vmax 7vmax;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #fff;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
header .menu-name, header .menu-link {
  letter-spacing: 2px;
}
header .menu-name--disabled, header .menu-link--disabled {
  opacity: 0.4;
  cursor: default;
  position: relative;
}
header .menu-name--disabled:after, header .menu-link--disabled:after {
  content: "not available";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 200%);
  white-space: nowrap;
  font-size: 3vmin;
}
@media screen and (min-width: 556px) {
  header .menu-name--disabled:after, header .menu-link--disabled:after {
    display: none;
    font-size: 2vmin;
  }
}
header .menu-name--disabled:hover:after, header .menu-link--disabled:hover:after {
  display: block;
}
header .menu-name span {
  transition: .2s ease-in-out;
}
header .menu-name:hover span {
  opacity: 0.4;
}

main {
  margin-top: auto;
  margin-bottom: auto;
}
main p, main a {
  color: #fff;
  font-size: 3vmax;
  line-height: 1.8;
  font-family: "Playfair Display", serif;
  text-decoration: none;
}
@media screen and (min-width: 993px) {
  main p, main a {
    font-size: 3vmax;
  }
}
main p b, main p strong, main a b, main a strong {
  font-weight: 700;
}
main a {
  transition: .2s ease-in-out;
}
main a:hover {
  opacity: 0.7;
}

footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 556px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
footer a {
  display: block;
  position: relative;
  display: flex;
  align-items: center;
  opacity: 0.5;
  color: #fff;
  text-decoration: none;
  margin-top: 30px;
  transition: .3s ease-in-out;
}
footer a:nth-child(2) {
  order: -1;
}
@media screen and (min-width: 556px) {
  footer a:nth-child(2) {
    order: inherit;
  }
}
@media screen and (min-width: 556px) {
  footer a {
    margin-bottom: 0;
  }
}
footer a:hover {
  opacity: 1;
}
footer a:hover:before {
  opacity: 1;
}
footer a:hover .arrow--left {
  width: 64px;
  margin-right: 15px;
}
footer a:hover .arrow--left .shaft {
  opacity: 1;
}
footer a:hover .arrow--right .shaft {
  opacity: 0;
}
footer a:before {
  content: "";
  position: absolute;
  left: -14px;
  top: -7px;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  opacity: 0;
  transition: .3s ease-in-out;
}
footer a .arrow {
  display: block;
}
footer a .arrow--left {
  height: 1px;
  width: 0;
  background: #fff;
  position: relative;
  transition: .2s ease-in-out;
}
footer a .arrow--left .shaft {
  opacity: 0;
}
footer a .arrow--right {
  margin-left: 15px;
  position: relative;
  width: 8px;
}
footer a .arrow--right .shaft {
  opacity: 1;
}
footer a .arrow--left .shaft, footer a .arrow--right .shaft {
  width: 0;
  position: absolute;
  right: 0;
  top: -4px;
  transform: rotate(-45deg);
  display: block;
  width: 8px;
  height: 8px;
  border-width: 0 1px 1px 0;
  border-color: #fff;
  border-style: solid;
  transition: .2s ease-in-out;
}
footer a.link {
  font-style: italic;
}
footer a.link--gmail:before {
  background: #ea4b89;
}
footer a.link--gmail .arrow--left {
  background: #ea4b89;
}
footer a.link--gmail .arrow--left .shaft {
  border-color: #ea4b89;
}
footer a.link--linkedin:before {
  background: #0057ff;
}
footer a.link--linkedin .arrow--left {
  background: #0057ff;
}
footer a.link--linkedin .arrow--left .shaft {
  border-color: #0057ff;
}
footer a.link--codepen:before {
  background: black;
}
footer a.link--codepen .arrow--left {
  background: black;
}
footer a.link--codepen .arrow--left .shaft {
  border-color: black;
}

::selection {
  color: #ffffff;
  background: #8152F9;
}

body::-webkit-scrollbar-track {
  background: #2b0c7d;
}

body::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 8px;
}

body::-webkit-scrollbar {
  width: 0.4em;
}
